<app-header
    [title]="dinamicTitle"
>
</app-header>
<router-outlet></router-outlet>
<!-- <app-exercicio-pipes
>
</app-exercicio-pipes> -->
<!-- <app-exercicio-ngclass
>
</app-exercicio-ngclass> -->
<!-- 
<app-exercicio-diretivas
    
>
</app-exercicio-diretivas> -->
<!-- <app-home></app-home>

<app-execicio-data-binding
    [palavra]="palavra"
    [color]="'green'"
    (clicado)="eventReceived($event)"
    
    [(currentValue)]="initialValueCounter"
></app-execicio-data-binding> -->
<div class="p-0">
    <div class="alert alert-primary" role="alert">
      A simple primary alert—check it out!
    </div>
  </div> 
<app-footer></app-footer>